body {
	background-color: black;
  background-size: cover;
}
#jumbo {
	background-image: url(img/white.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.display-4, .lead {
	color: white;
	text-align: center;
}
.button {
	margin: 10%;
}
